@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --headings-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font);
    font-size: 15px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 0;
    margin-bottom: 150px;
}

h1 {
    font-family: var(--headings-font);
    font-weight: 700;
    color: var(--very-dark-cyan);
    text-transform: capitalize;
    margin-bottom: 50px;
    font-size: 30px;
}

header button {
    border: 1px solid var(--light-pink);
    padding: 5px 15px;
    color: var(--pink);
    background-color: #fff;
}

header img {
    width: 150px;
}

.section-one,
.section-three-text-div {
    text-align: center;
}

.section-one h1 {
    padding: 0 15px;
}

.section-one p {
    padding: 0 20px;
    font-weight: 600;
    color: var(--very-dark-cyan);
    margin-bottom: 30px;
}
button {
    text-transform: capitalize;
    border-radius: 25px;
}

.section-one button {
    padding: 15px 40px;
    font-size: 15px;
    background-color: var(--pink);
    border: none;
    color: var(--very-pale-blue);
    font-weight: 600;
    margin-bottom: 100px;
}

.section-two-mockup-div {
    width: 90%;
    margin: 0 auto 50px;
}

.section-two-mockup-div img {
    max-width: 100%;
}

.section-two-text-div {
    text-align: center;
}

.section-two-text-div span {
    display: block;
}

p span:first-child {
    font-size: 50px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

p span:nth-child(2) {
    text-transform: capitalize;
    font-weight: 600;
    opacity: 0.6;
}

.section-two-text-div div:first-of-type {
    margin-bottom: 100px;
}

.section-two-text-div img {
    margin-left: -80px;
}

.section-three,
.section-five {
    display: grid;
}

.section-three-bg-top,
.section-five-bg-top-div {
    grid-row: 1/2;
    width: 100%;
    margin-bottom: -15px;
}
.section-three-desktop-top,
.section-three-desktop-bottom,
.section-five-desktop-bottom,
.section-five-desktop-top,
.footer-bg-desktop-top {
    display: none;
}

.section-three-illustration,
.section-five-img-div {
    width: 100%;
    grid-row: 2/3;
    padding: 75px 30px 0;
    background: var(--very-pale-blue);
}

.section-three-illustration img,
.section-three-bg-top img,
.section-three-bg-bottom img,
.section-four-img-div img,
.section-five-img-div img,
.footer-bg-mobile-top  {
    width: 100%;
}

.section-three-text-div,
.section-five-text-div {
    padding-top: 50px;
    background: var(--very-pale-blue);
}

.section-three-text-div p {
    padding: 0 20px;
    font-weight: 600;
    color: var(--very-dark-cyan);
    padding-bottom: 70px;
    
}
.section-three-bg-bottom,
.section-five-mobile-bottom {
    margin-top: -15px;
    width: 100%;
}

.section-four-img-div {
    width: 100%;
    margin-top: 100px;
    padding: 0 20px;
}

.section-four-text-div h1,
.section-five-text-div h1 {
    text-align: center;
    margin-top: 50px;
}

.section-four-text-div p,
.section-five-text-div p {
    text-align: center;
    padding: 0 10px;
    font-weight: 600;
    color: var(--very-dark-cyan);
    margin-bottom: 150px;
}

.section-six {
    text-align: center;
    margin-bottom: 100px;
}

.section-six button {
    padding: 15px 30px;
    color: var(--very-pale-blue);
    border: none;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--pink);
}

.footer-bg-top {
    margin-bottom: -15px;
}
footer,
footer h1 {
    background-color: var(--very-dark-cyan);
    color: var(--very-pale-blue);
}

footer {
    padding-bottom: 50px;
}
.newsletter-div, .lorem-div {
    padding: 50px 20px 0;
}

.newsletter-div h1 {
    margin-bottom: 25px;
}

.newsletter-div p,
.lorem-div div:nth-child(2) {
    font-weight: 600;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

form input {
    display: block;
}

form input:first-child {
    width: 95%;
    padding: 10px 0;
}

form input:nth-child(2) {
    width: 33%;
    padding: 5px;
    font-size: 15px;
    color: var(--very-pale-blue);
    background-color: var(--pink);
    border-radius: 7px;
    margin-top: 10px;
    font-weight: 600;
    position: absolute;
    right: 35px;
}

.lorem-div {
    margin-top: 100px;
}

.lorem-img,
.lorem-div div:nth-child(2) {
    margin-bottom: 20px;
}

.lorem-div div:nth-child(3) img {
    width: 30px;
    margin-right: 20px;
}

.lorem-div div:nth-child(3) p:first-of-type {
    margin-bottom: 10px;
}

.lorem-div div:nth-child(3) span {
    vertical-align: super;
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    form input:nth-child(2) {
        right: 55px;
        padding: 10px 0;
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    header{
        padding: 75px 75px 0;
        margin-bottom: 150px;
        margin-bottom: 350px;
    }

    header img {
        width: 300px;
    }
    header button {
        padding: 0.4375em 3.125em;
        font-size: 1.25em;
    }
    .section-one h1 {
        font-size: 3.125em;
        text-align: center;
        margin-bottom: 1.5em;
    }
    .section-one p {
        text-align: center;
        font-size: 1.4em;
        padding: 0 18.75em;
        margin-bottom: 1.5em;
    }
    .section-two {
        width: 100%;
    }
    .mockup-div {
        display: block;
        width: 80%;
        margin: 50px auto;
    }
    .section-two-text-div {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    .section-three {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 150px;
    }
    .section-three-bg-top {
        grid-column: 1/-1;
    }
    .section-three-text-div {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        text-align: left;
    }
    .section-three h1,
    .section-three p {
        padding-left: 20px;
        padding-right: 10px;
    }
    .section-three p {
        font-size: 18px;
    }
    .section-three h1 {
        font-size: 3em;
        margin-bottom: 30px;
    }
    .section-three-illustration {
        grid-column: 2/3;
    }
    .section-three-illustration img {
        padding: 0 50px 50px 0;
    }
    .section-three-bg-bottom {
        grid-column: 1/-1;
    }
    .section-three-mobile-top,
    .section-three-mobile-bottom,
    .section-five-mobile-top,
    .section-five-mobile-bottom {
        display: none;
    }
    .section-three-desktop-top,
    .section-three-desktop-bottom,
    .section-five-desktop-top,
    .section-five-desktop-bottom {
        display: block;
    }
    .section-four {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px;
        margin-bottom: 150px;
    }
    .section-four-text-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 50px;
    }
    .section-four-text-div h1 {
        text-align: left;
        font-size: 3em;
        margin-bottom: 30px;
    }
    .section-four-text-div p {
        text-align: left;
        font-size: 16px;
    }
    
}